<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link href="jquery.highlight-within-textarea.css" rel="stylesheet">
    <link href="editor.css" rel="stylesheet">
    <script src="vue.js"></script>
    <script src="jquery.js"></script>
    <script src="jquery.highlight-within-textarea.js"></script>
    <script src="TemplateParser.js"></script>
    <title>Template Editor</title>
</head>

<body>
    <div id="preview">
        <div class="nav">
            <div class="left">
                <button @click="addRootBlock">Add Block</button>
                <button @click="addRootContent">Add Content</button>
                <button @click="addRootToken">Add Token</button>
            </div>
            <div class="right">
                <button @click="uiPreview">Parse</button>
                <button @click="jsonPreview">Generate</button>
            </div>
        </div>
        <div class="box">
            <preview-item v-for="(item,i) in outputData" v-bind:item="item"  v-bind:index="i" v-bind:key="i" :tokens="tokenList"></preview-item>
        </div>
        <div class="popup">
            <textarea id="jsonPreview"></textarea>
        </div>
    </div>
    <script type="text/javascript">
        Vue.component('preview-item', {
            data: function () {
                return {
                    isExpanded: false
                }
            },
            props: ["item", "index", "tokens"],
            template: '\
                <div class="block" >\
                    <template v-if="item.type === \'block\'">\
                        <div class="item">\
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">\
                                <tr>\
                                    <td valign="middle" align="left" v-if="checkSubitems(item)">\
                                        <a class="expandBtn" href="javascript:void(0)" @click="isExpanded = !isExpanded">\
                                            <i class="fa fa-minus" aria-hidden="true" v-if="isExpanded"></i>\
                                            <i class="fa fa-plus" aria-hidden="true" v-else></i>\
                                        </a>\
                                    </td>\
                                    <td valign="middle" align="left" v-else><span class="expandBtn">&nbsp;</span></td>\
                                    <td valign="middle" align="left" width="100%">\
                                        <select v-model="item.type" placeholder="type" @change="updateCode($event)" :id="\'startChar\' + item.startCharPosition">\
                                            <option value="block">Block</option>\
                                            <option value="content">Content</option>\
                                            <option value="token">Token</option>\
                                        </select>\
                                        <span class="light"><%</span>\
                                        <select type="text" v-model="item.tag" placeholder="Tag" @change="updateCode($event)" @focus="alignTemplate(item)" >\
                                            <option v-for="token in tokens" :value="token">{{token}}</option>\
                                        </select>\
                                        <input class="name" type="text" v-model="item.name" placeholder="Name" @change="updateCode($event)" @focus="alignTemplate(item)">\
                                        <span class="light">%></span>\
                                    </td>\
                                    <td valign="middle" align="right" nowrap="nowrap">\
                                        <button class="action" @click="addNewItemAbove(index,$parent)"><i class="fa fa-arrow-up" aria-hidden="true"></i> New</button>\
                                        <button class="action" @click="addNewItemBellow(index,$parent)"><i class="fa fa-arrow-down" aria-hidden="true"></i> New</button>\
                                        <button class="action" @click="addBlock(item)">Block</button>\
                                        <button class="action" @click="addContent(item)">Content</button>\
                                        <button class="action" @click="addToken(item)">Token</button>\
                                        <button class="action" @click="moveUp(item,$parent)"><i class="fa fa-caret-up" aria-hidden="true"></i></button>\
                                        <button class="action" @click="moveDown(item,$parent)"><i class="fa fa-caret-down" aria-hidden="true"></i></button>\
                                        <button class="action" @click="removeItem(index,$parent)"><i class="fa fa-trash" aria-hidden="true"></i></button>\
                                    </td>\
                                </tr>\
                            </table>\
                        </div>\
                    </template>\
                    <template v-if="item.type === \'token\'">\
                        <div class="item">\
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">\
                                <tr>\
                                    <td valign="middle" align="left" width="100%">\
                                        <select v-model="item.type" placeholder="type" @change="updateCode($event)" :id="\'startChar\' + item.startCharPosition">\
                                            <option value="block">Block</option>\
                                            <option value="content">Content</option>\
                                            <option value="token">Token</option>\
                                        </select>\
                                        <span class="light"><%</span>\
                                        <input class="tag" type="text" v-model="item.tag" placeholder="Tag" @change="updateCode($event)" @focus="alignTemplate(item)">\
                                        <input class="name" type="text" v-model="item.name" placeholder="Name" @change="updateCode($event)" @focus="alignTemplate(item)">\
                                        <span class="light">%></span>\
                                    </td>\
                                    <td valign="middle" align="right" nowrap="nowrap">\
                                        <button class="action" @click="addNewItemAbove(index,$parent)"><i class="fa fa-arrow-up" aria-hidden="true"></i> New</button>\
                                        <button class="action" @click="addNewItemBellow(index,$parent)"><i class="fa fa-arrow-down" aria-hidden="true"></i> New</button>\
                                        <button class="action" @click="moveUp(item,$parent)"><i class="fa fa-caret-up" aria-hidden="true"></i></button>\
                                        <button class="action" @click="moveDown(item,$parent)"><i class="fa fa-caret-down" aria-hidden="true"></i></button>\
                                        <button class="action" @click="removeItem(index,$parent)"><i class="fa fa-trash" aria-hidden="true"></i></button>\
                                    </td>\
                                </tr>\
                            </table>\
                        </div>\
                    </template>\
                    <template v-if="item.type === \'content\'">\
                        <div class="item">\
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">\
                                <tr>\
                                    <td valign="middle" align="left" width="100%">\
                                        <select v-model="item.type" placeholder="type" @change="updateCode($event)" :id="\'startChar\' + item.startCharPosition">\
                                            <option value="block">Block</option>\
                                            <option value="content">Content</option>\
                                            <option value="token">Token</option>\
                                        </select>\
                                        <div class="wrapper">\
                                            <div class="hidden" v-html="htmlConvertor(item.name)"></div>\
                                            <textarea class="content" v-model="item.name" rows="1" @change="updateCode($event)" @focus="alignTemplate(item)"></textarea>\
                                        </div>\
                                    </td>\
                                    <td valign="middle" align="right" nowrap="nowrap">\
                                        <button class="action" @click="addNewItemAbove(index,$parent)"><i class="fa fa-arrow-up" aria-hidden="true"></i> New</button>\
                                        <button class="action" @click="addNewItemBellow(index,$parent)"><i class="fa fa-arrow-down" aria-hidden="true"></i> New</button>\
                                        <button class="action" @click="moveUp(item,$parent)"><i class="fa fa-caret-up" aria-hidden="true"></i></button>\
                                        <button class="action" @click="moveDown(item,$parent)"><i class="fa fa-caret-down" aria-hidden="true"></i></button>\
                                        <button class="action" @click="removeItem(index,$parent)"><i class="fa fa-trash" aria-hidden="true"></i></button>\
                                    </td>\
                                </tr>\
                            </table>\
                        </div>\
                    </template>\
                    <preview-item class="child" v-show="isExpanded" v-for="(item,i) in item.subItems" v-bind:item="item" v-bind:index="i" v-bind:key="i" :tokens="tokens"></preview-item>\
                </div>',
            methods: {
                checkSubitems: function (item) {
                    if (typeof item.subItems != "undefined" && item.subItems.length > 0){
                        return true;
                    } else {
                        return false;
                    }
                },
                addBlock: function (item) {
                    item.subItems.push(newEmptyToken("block", true));
                },
                addContent: function (item) {
                    item.subItems.push(newEmptyToken("content", false));
                },
                addToken: function (item) {
                    item.subItems.push(newEmptyToken("token", false));
                },
                updateCode: function(event){
                    var id = event.target.id;
                    document.getElementById("jsonPreview").value = fromTokenToTemplateMain(this.$root.outputData);

                    setTimeout( function(){
                        document.getElementById(id).focus();
                    },100);
                },
                htmlConvertor: function(content){
                    return content.replace(/\n/g, "<br />");
                },
                move: function(array, element, delta){
                    var index = array.indexOf(element);
                    var newIndex = index + delta;
                    if (newIndex < 0  || newIndex == array.length) return;
                    var indexes = [index, newIndex].sort();
                    array.splice(indexes[0], 2, array[indexes[1]], array[indexes[0]]);
                },
                moveUp: function(item, parent){
                    var array = this.$root.outputData;
                    if(typeof parent.item != "undefined"){
                        array = parent.item.subItems;
                    }
                    this.move(array,item,-1);
                },
                moveDown: function(item, parent){
                    var array = this.$root.outputData;
                    if(typeof parent.item != "undefined"){
                        array = parent.item.subItems;
                    }
                    this.move(array,item,1);
                },
                alignTemplate: function(item){
                    $('#jsonPreview').highlightWithinTextarea({
                        highlight: [
                            [item.startCharPosition,item.startCharPosition+3], 
                            [item.endCharPosition,item.endCharPosition+3]
                        ]
                    });
                },
                removeItem: function(index, parent){
                    var array = this.$root.outputData;
                    if(typeof parent.item != "undefined"){
                        array = parent.item.subItems;
                    }
                    array.splice(index, 1);
                    document.getElementById("jsonPreview").value = fromTokenToTemplateMain(this.outputData);
                },
                addNewItem: function(index, parent){
                    var array = this.$root.outputData;
                    var newItem = newEmptyToken("block", true);
                    if(typeof parent.item != "undefined"){
                        array = parent.item.subItems;
                    }
                    array.splice(index, 0, newItem);
                    setTimeout( function(){
                        document.getElementById("startChar" + newItem.startCharPosition).focus();
                    },100);
                },
                addNewItemAbove: function(index, parent){
                    this.addNewItem(index, parent);
                },
                addNewItemBellow: function(index, parent){
                    this.addNewItem(index+1, parent);
                }
            }
        })
        new Vue({
            el: '#preview',
            data: {
                outputData: [],
                tokenList: [
                    "if", 
                    "else", 
                    "elseif", 
                    "foreach", 
                    "norecord", 
                    "header", 
                    "beforefirstrow", 
                    "firstrow", 
                    "afterfirstrow", 
                    "beforerow", 
                    "row", 
                    "afterrow", 
                    "beforealtrow", 
                    "altrow",
                    "afteraltrow",
                    "beforelastrow",
                    "lastrow",
                    "afterlastrow",
                    "footer",
                    "with",
                    "set"
                ]
            },
            methods: {
                addNewToken: function(type, hasSubItem){
                    var newItem = newEmptyToken(type, hasSubItem);
                    this.outputData.push(newItem);
                    setTimeout( function(){
                        document.getElementById("startChar" + newItem.startCharPosition).focus();
                    },100)
                },
                addRootBlock: function () {
                    this.addNewToken("block", true);
                },
                addRootContent: function () {
                    this.addNewToken("content", false);
                },
                addRootToken: function () {
                    this.addNewToken("token", false);
                },
                jsonPreview: function(){
                    document.getElementById("jsonPreview").value = fromTokenToTemplateMain(this.outputData);
                },
                uiPreview: function(){
                    this.outputData = fromTemplateToTokens(document.getElementById("jsonPreview").value);
                }
            },
            watch: {
                outputData: function(newValue){
                    document.getElementById("jsonPreview").value = fromTokenToTemplateMain(this.outputData);
                }
            }
        })
    </script>
</body>

</html>